.breadcrumb {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.breadcrumb-item a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: inline-block;
} 

.breadcrumb-item a:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}
