<footer>
  <div class="container">
    <div class="row">
      <!-- Sempre visível -->
      <div class="col-md-6 mb-4">
        <h5 class="mb-1">Paróquia Santa Cruz</h5>
        <p class="mt-0">
          Avenida Lourenço Zácaro, 15 - Vila Pindorama<br>
          Barueri - SP CEP 06408-000<br>
          WhatsApp: 11 96926-9995<br>
          E-mail: santacruzbarueri@gmail.com
        </p>
      </div>

      <!-- Ocultar no mobile (xs e sm) -->
      <div class="col-md-3 mb-4 d-none d-md-block">
        <h5 class="mb-1">Secretaria Paroquial</h5>
        <p class="mt-0">
          De terça a sábado<br>
          Das 08:00 às 13:00 e das 14:00 às 17:30
        </p>
        <h5 class="mb-1">Faça a sua doação</h5>
        <p class="mt-0">
          Banco Bradesco<br>
          Ag 2386 / Conta Corrente 0180088-2<br>  
          Chave Pix CNPJ 61.378.774/0062-67
        </p>
      </div>

      <!-- Ocultar no mobile (xs e sm) -->
      <div class="col-md-auto d-none d-md-block">
        <h5 class="mb-1">Missas na Matriz</h5>
        <p class="mt-0">
          Domingo 07:30, 10:30 e 18:00<br>
          Quinta-feira 19:30
        </p>

        <h5 class="mb-1">Horários de confissão</h5>
        <p class="mt-0">
          Terça-feira das 09:00 às 11:00<br>
          Quinta-feira das 15:00 às 17:00<br> 
          Sábado das 09:00 às 11:00
        </p>
      </div>

      <!-- Texto sempre visível -->
      <small class="text-center w-100">
        <p class="mb-0">© {{ "now" | date: "%Y" }} Paróquia Santa Cruz. Todos os direitos reservados.</p>
        <p class="mb-0">Desenvolvido com ❤️ por JD Oliveira e Douglas Marins.</p>
        <p class="mb-0">Este site está licenciado sob a <a href="/license" target="_blank" rel="noopener noreferrer">Licença MIT</a>.</p>
      </small>
    </div>
  </div>
</footer>
